[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[merge]
	conflictStyle = zdiff3

[include]
	path = ~/.gitconfig.local
